*{
    font-family: 'ABeeZee', sans-serif;
}
h3{
    /* color: rgb(238, 83, 130); */
    font-size: 5vh;
    text-align: center;
}
ul li{
    font-size: 3.5vh;
    color: white;
    line-height: 1.6;
    list-style-type: none;
}
/* button{
    padding: 4px 10px;
    background-color: rgb(108, 237, 192);
    color: rgb(20, 28, 58);
    border: none;
    outline: 0.5px  solid rgb(238, 83, 130);
    border-radius: 2px;
    font-weight: bold;
} */
div{
    background-color: rgb(20, 28, 58);
}app-goal-detail{
    color: rgb(108, 237, 192);
    font-size: 3vh;
}
p{
    text-align: center;
    color: white;
    font-size: 3vh;
    
}
p:hover{
    color: rgb(238, 83, 130);
    font-weight: bold;
    border-top: 2px solid white;
}